@use "@/scss/mixin";
@use "@/scss/var" as *;

*, *::after, *::before {
  margin: 0;
  padding: 0;box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-color: $primary_color;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;

  transition: ease-in-out;
  transition-duration: .2s;
}

a:hover{
  transform: scale(1.2);
}